body {
}


.nav_custom {
    background-color: black;
    color: white;
    height: 50px;
}

.custom_viewdeletemodal {
    color: white;
}

    .custom_viewdeletemodal .modal-content {
        backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.75);
        border-radius: 12px;
    }

    .custom_viewdeletemodal .modal-footer {
        padding-top: 5px;
        padding-bottom: 5px;
    }

.card_use_room {
    width: 640px;
    margin-left: 15px;
}

.custom_view_button_all button {
    width: 90px;
    transform: translateY(-10px);
    border-radius: 12px;
}

.custom_view_button_all input {
    width: 90px;
    transform: translateY(-10px);
    border-radius: 12px;
}

.card_roomview {
    width: 550px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px) saturate(200%);
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 12px;
    color: white;
}

    .card_roomview .card-body {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .card_roomview .carousel-item {
        height: 300px !important;
        object-fit: cover !important;
        overflow: hidden;
    }

.view_room_img {
    height: 300px;
    width: 515px;
    border-radius: 12px !important;
    padding-top: 10px;
    padding-left: 3px;
}

.modal_edit_room {
}

    .modal_edit_room .modal-body {
        width: 400px !important;
        padding-left: 48px;
    }

    .modal_edit_room .form-floating {
        width: 400px;
    }

    .modal_edit_room .form-control {
        background-color: transparent;
        color: white;
    }

    .modal_edit_room label {
        background-color: transparent !important;
        color: white !important;
    }

        .modal_edit_room label:active {
            background-color: transparent !important;
            color: white !important;
        }

        .modal_edit_room label:hover {
            background-color: transparent !important;
            color: white !important;
        }

        .modal_edit_room label::after {
            background-color: transparent !important;
            color: white !important;
        }

    .modal_edit_room input:active {
        background-color: transparent !important;
    }

    .modal_edit_room input:hover {
        background-color: transparent;
    }

    .modal_edit_room .modal-header {
        text-align: center;
        padding-bottom: 10px;
    }

    .modal_edit_room .modal-content {
        backdrop-filter: blur(16px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.75);
        border-radius: 12px;
    }

    .modal_edit_room .modal-footer {
        padding-top: 5px;
        padding-bottom: 5px;
    }

.btn_editroom {
    background-color: dodgerblue !important;
}

.card_staff {
    width: 500px;
    margin: 50px;
    height: auto;
    border-radius: 35px;
    background-color: #221E1D;
}

    .card_staff h3 {
        text-align: center;
        color: white;
    }

.text_staff {
    margin-left: 25px;
    margin-right: 25px;
}

    .text_staff label {
        color: white;
        background-color: transparent !important;
    }

    .text_staff input {
        background-color: transparent !important;
        color: white !important;
    }

.card_login {
    border-radius: 35px;
    height: 350px;
    width: 400px;
    position: relative;
    background-color: rgba(16, 25, 44, 0.46);
    backdrop-filter: blur(3px) saturate(76%);
    padding: 5px;
    color: white;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

    .card_login h3 {
        text-align: center;
    }

.text_login {
    height: 45px;
    background-color: transparent !important;
    color: white !important;
}

    .text_login input {
        background-color: transparent !important;
        color: white !important;
        border-left: 0 !important;
        border-right: 0 !important;
        border-top: 0 !important;
    }

        .text_login input:active {
            background-color: transparent !important;
            color: white !important;
            border-left: 0 !important;
            border-right: 0 !important;
            border-top: 0 !important;
            box-shadow: 0 0 5px 0 rgba(255, 255, 255, 0.7);
        }

        .text_login input:focus {
            background-color: transparent !important;
            color: white !important;
            border-left: 0 !important;
            border-right: 0 !important;
            border-top: 0 !important;
            box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.7);
        }

        .text_login input:hover {
            background-color: transparent !important;
            color: white !important;
            border-left: 0 !important;
            border-right: 0 !important;
            border-top: 0 !important;
            box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.5);
        }

        .text_login input::after {
            background-color: transparent !important;
            color: white !important;
            border-left: 0 !important;
            border-right: 0 !important;
            border-top: 0 !important;
            box-shadow: 0 0 2px 0 rgba(255, 255, 255, 0.5);
        }

    .text_login label {
        background-color: transparent !important;
        color: white !important;
        border-left: 0 !important;
        font-size: 16px !important;
    }

        .text_login label:hover {
            background-color: transparent !important;
            color: white !important;
            border-left: 0 !important;
            font-size: 16px;
        }

        .text_login label:active {
            background-color: transparent !important;
            color: white !important;
            border-left: 0 !important;
        }

        .text_login label::after {
            background-color: transparent !important;
            color: white !important;
            border-left: 0 !important;
        }

.btn_login {
    border-radius: 25px;
    background-color: rgba(128, 0, 128, 0.2);
    border: 0;
}

    .btn_login:hover {
        background-color: rgba(128, 0, 128, 0.4) !important;
        border: 0;
    }

    .btn_login:active {
        background-color: rgba(128, 0, 128, 0.4) !important;
        border: 0;
    }

.staffbtn {
    width: 300px;
    background-color: gold;
    color: black;
    border-radius: 35px;
    margin-left: 85px;
    margin-right: 65px;
}

.custom-dropdown {
    background-color: transparent !important;
    color: white !important;
    border-radius: 15px !important;
    width: 200px !important;
    text-align: center !important;
}

.navbar-brand {
    color: white !important;
}

.btn_offcanvas {
    margin-left: 10px;
    background-color: darkgray;
    height: 40px;
    width: 45px;
    transform: translateY(-3px);
}

.profileimg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    right: 10px;
    transform: translateY(-3px);
    margin-left: -15px;
    background-color: black;
}

.ddl_customuser {
    background-color: transparent;
    padding: 0;
    margin: 0;
    color: white;
    border: none;
    margin-right: 15px;
}



.ddl_useritem {
    border-radius: 25px !important;
    margin-top: 15px !important;
    width: 100px !important;
    transform: translateX(-10%);
}

    .ddl_useritem .dropdown-item {
        border-radius: 25px !important;
    }

    .ddl_useritem:hover {
        border-radius: 25px;
    }

    .ddl_useritem hr {
        margin: 0;
    }

footer {
    color: white;
    background-color: black;
    height: 25px;
}
